default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  username: postgres
  adapter: postgis
  host: localhost
  database: geolocator_development
  postgis_schema: public
  schema_search_path: public, postgis

test:
  <<: *default
  database: geolocator_test


production:
  <<: *default
  database: geolocator_production
  username: geolocator
  password: <%= ENV['GEOLOCATOR_DATABASE_PASSWORD'] %>
